@import './variables.scss';
@import './mixin.scss';
@import './keyframes.scss';

@font-face {
  font-family: 'Jalnan';
  src: url('/fonts/Jalnan.ttf');
}

body {
  margin: 0;
  font-family: $font-jalnan;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

.policy {
  font-family: $font-family-sans;
  padding-bottom: $spacing-24;

  @include mobile {
    padding: $spacing-2;
  }

  .title {
    font-family: $font-jalnan;
  }

  p {
    font-weight: bold;
  }
}

footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .copy-right {
    @include desktop {
      color: $white;
    }

    @include mobile {
      white-space: pre;
    }
    font-weight: bold;
    font-family: $font-family-sans;
  }

  .card {
    width: 100%;

    @include desktop {
      max-width: $tablet-min;
      min-height: $mobile-min-height;
      border-radius: 16px;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: rgba($dark-black, 0.4) 0px 10px 20px 4px;
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      white-space: pre;
      height: 100%;
    }

    display: flex;
    background-color: $dark-black;
    color: $white;
    transition: transform 500ms ease-in-out;

    .card-col {
      @include desktop {
        width: 50%;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 32px;

      &-text {
        font-size: $fontSize-root;
        color: $light-gray;
        font-family: $font-family-sans;
      }

      &-link {
        cursor: pointer;
      }

      &-link:hover {
        color: $white;
      }
    }
  }

  .card:hover {
    transform: scale(1.006);
  }
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: $fontSize-4;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: $fontSize-root;
}

@include desktop {
  h1 {
    font-size: $fontSize-7;
  }

  h2 {
    font-size: $fontSize-4;
  }
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include desktop {
    justify-content: center;
  }

  @include mobile {
    padding-top: $spacing-6;
  }
}

.allive-slogan {
  @include desktop {
    font-size: $fontSize-8;
  }

  @include mobile {
    font-size: $fontSize-6;
    text-align: center;
  }

  padding-bottom: $spacing-6;
  text-shadow: $text-shadow;
}

.allive-title {
  @include desktop {
    font-size: $fontSize-max;
  }

  @include mobile {
    font-size: $fontSize-6;
    text-align: center;
  }

  padding-bottom: $spacing-6;
  text-shadow: $text-shadow;
}

.allive-subtitle {
  @include desktop {
    font-size: $fontSize-6;
    padding: $spacing-6;
  }

  @include mobile {
    font-size: $fontSize-4;
    text-align: center;
    padding: $spacing-2;
  }

  text-shadow: $text-shadow;
}

.bounce {
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}

.download-buttons {
  display: flex;
  width: 100%;

  @include mobile {
    justify-content: space-evenly;
  }
}

.download-button {
  @include mobile {
    width: 140px;
  }

  @include desktop {
    width: 180px;
    margin-right: $spacing-6;
  }

  height: 60px;
  font-size: $fontSize-4;
  border: 2px solid $white;
  color: $white;
  border-radius: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: $font-family-sans;
  cursor: pointer;

  -webkit-transition: background-color, transform 500ms ease-in-out;
  -ms-transition: background-color, transform 500ms ease-in-out;
  transition: background-color, transform 500ms ease-in-out;
  box-shadow: $box-shadow;
}

.download-button:hover {
  background-color: rgba($white, 0.2);
  transform: translateY(-4px);
}

.fixed-bottom-right {
  position: absolute;

  @include mobile {
    bottom: 0;
  }

  @include desktop {
    bottom: $content-padding-bottom;
  }

  right: 0;
}

.bg-theme {
  background-color: $theme;
}

.bg-white {
  background-color: $white;
}

.text-white {
  color: $white;
}

.content-wrapper {
  width: 100%;
}

.content-wrapper:nth-child(odd) {
  background-color: $theme;
}

.content-wrapper:nth-child(even) {
  background-color: $white;
}

.content-wrapper:nth-child(4) {
  background-color: $dark-black !important;
  color: $white;
}

.content {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: $content-max;

  &-box {
    position: relative;
    height: $content-box-height;
    max-height: $content-box-height;
    padding-bottom: $content-padding-bottom;
  }
}

.page-bottom {
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $content-padding-bottom;
  display: flex;
  justify-content: center;
  align-items: center;

  &-button {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .page-even {
    color: $white;
  }

  .page-odd {
    color: $theme;
  }
}

.navbar-transparent {
  background-color: $white;

  .sub-title {
    color: $gray;
  }

  .sub-title-active {
    color: $black;
  }
}

.navbar-primary {
  background-color: $theme;

  .sub-title {
    color: $white;
  }

  .sub-title-active {
    color: $black;
  }
}

.navbar {
  transition: background-color 400ms ease;
  -webkit-transition: background-color 400ms ease;
  height: $navbar-height;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 0;
  z-index: 99;

  @include mobile {
    padding: 0 16px;

    .logo {
      position: fixed;
      top: $spacing-5;
      left: $spacing-4;
    }
  }

  .logo {
    z-index: 99999;
    cursor: pointer;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &-links {
    position: relative;

    .menu {
      display: block;
      position: absolute;
      top: $spacing-5;
      right: $spacing-4;
    }

    .menu-closed {
      color: $white;
    }

    .menu-opened {
      color: $dark-black;
    }

    @include mobile {
      transition: height 400ms ease-in-out;

      &-opened {
        height: 30vh;
        box-shadow: rgba($dark-black, 0.2) 0px 10px 20px 4px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;

        .sub-title,
        .sub-title-active {
          display: block;
        }

        .sub-title {
          color: $light-gray;
        }

        .sub-title-active {
          color: $dark-black;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &-closed {
        height: $navbar-height;
        background-color: $theme;

        .sub-title,
        .sub-title-active {
          display: none;
        }
      }

      position: fixed;
      top: 0;
      left: 0;
      background-color: $white;
      width: 100vw;
      display: flex;
      align-items: center;
    }

    @include desktop {
      display: flex;

      .menu {
        display: none;
      }

      .sub-title {
        margin-left: 32px;
      }

      .sub-title:hover {
        color: $black;
        cursor: pointer;
      }
    }
  }
}

.profile:hover {
  transform: scale(1.006);
}

.profile {
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms easse-in-out;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
  display: flex;
  box-shadow: $box-shadow;
  width: 100%;

  @include desktop {
    height: 290px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    @include desktop {
      padding-left: 32px;
      align-items: flex-start;
    }

    @include mobile {
      padding-bottom: 16px;
      align-items: center;
    }

    justify-content: space-around;
  }

  &-image {
    width: 290px;
    height: 290px;
    border-radius: 32px;
    overflow: hidden;
  }

  &-text {
    min-height: 36px;
    line-height: 36px;
    border-radius: 8px;
    font-family: $font-family-sans;
    font-weight: bold;
  }

  &-username {
    font-size: $fontSize-5;
    min-width: 120px;
    color: $dark-black;
    font-family: $font-jalnan;
  }

  &-role {
    font-size: $fontSize-1;
    min-width: 100px;
    color: $middle-gray;
  }

  &-chip {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: $theme;
    color: $white;
    box-shadow: $box-shadow-light;
    text-shadow: $text-shadow;
    transition: all 300ms;
    margin-right: 16px;

    &-text {
      margin-left: 8px;
    }
  }

  &-chip:hover {
    transform: translateY(-4px);
  }
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: $white;
  font-size: $fontSize-5;
}

.content-darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  &-guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      padding-bottom: $spacing-2;
    }
  }

  &-image {
    position: relative;
    width: 400px;
    height: 700px;

    &-img {
      transition: opacity 400ms linear;
      position: absolute;
      top: 0;
    }

    &-img-hidden {
      opacity: 0;
    }

    &-img-show {
      opacity: 1;
    }
  }
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .tab-image {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
    width: $desktop-tab-image-width;
    height: $desktop-tab-image-height;
    position: absolute;
    left: 0;
  }

  .hidden {
    opacity: 0;
  }

  .tab-content {
    width: 100%;
    height: $desktop-tab-image-height;
    padding-left: $desktop-tab-image-width;
    padding-top: $desktop-tab-padding;
    padding-bottom: $desktop-tab-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &-title {
      padding-top: $spacing-24;
      font-size: $fontSize-8;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &-subtitle {
      font-size: $fontSize-5;
      line-height: $fontSize-max;
      color: $gray;
      font-family: $font-family-sans;
      justify-content: center;
      white-space: pre;
      text-align: center;
      display: flex;
      width: 100%;
    }
  }

  .tab-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;

    .tab-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px 24px;
      color: $light-gray;
      border-radius: 12px;
      cursor: pointer;
      transition: color, background-color 300ms linear;

      &-icon {
        margin-bottom: 4px;
      }
    }

    .tab-button.tab-button-active {
      color: $dark-black;
      background-color: $light-background-color;
    }

    .tab-button:hover {
      color: $dark-black;
      background-color: $light-background-color;
    }
  }
}

.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: $light;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(#fff, 0) 0, rgba(#fff, 0.2) 20%, rgba(#fff, 0.5) 60%, rgba(#fff, 0));
    animation: shimmer 1.2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-full {
  height: 100%;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $border-gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $black;
}

input:focus + .slider {
  box-shadow: 0 0 1px $dark-black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
